@{
    ViewData["Title"] = "Home Page";
}

<div class="Home_Page">
    <div class="hero">
        <h1>VEGANISM IS<BR>A LIFE CHOICE.</h1>
        <p>For the people who are willing to make a change. Life Orginacs is a startup initave to provide the best quality Vegetables and fruits, now avaliable in India.</p>
    </div>
</div>
