@{
    ViewData["Title"] = "Signup Page";
}
<div>
    <div class="login">
        <div class="col">
            <form action="" method="post" class="form">
                <input type="email" name="email" id="email" placeholder="email" class="email">
                <input type="text" name="username" id="username" placeholder="username" class="username">
                <input type="password" name="password" id="password" placeholder="password" class="password">
                <input type="submit" value="submit" class="submit_button">
            </form>
        </div>
    </div>
    <footer>
        <a href="#">BluePrism</a>
        <a href="#">Version 1.0</a>
    </footer>
</div>